In [1]:
type(10.0)

float

In [2]:
print('hello')

hello

In [3]:
firstname='Rahul'
lastname='Mullaguru'

In [4]:
print("my first name is {} and my last name is {}".format(firstname,lastname))

my first name is Rahul and my last name is Mullaguru

In [5]:
print("my first name is {first} and my last name is {last}".format(first=firstname,last=lastname))

my first name is Rahul and my last name is Mullaguru

In [6]:
len('krish')

5

In [7]:
type([1,2,3,3,4,'5'])

list

In [8]:
my_str="Rahul"
mystr="mullaguru"

In [9]:
print(my_str.isalnum())
print(my_str.isdecimal())
print(my_str.isdecimal())

True
False
False

In [10]:
my_str.isdecimal() and my_str.isalnum()

False

# List:

In [11]:
lst=['a','b','c','d','e',4,5,6]

In [12]:
lst[:]

['a', 'b', 'c', 'd', 'e', 4, 5, 6]

In [13]:
lst.append('rahul')

In [14]:
lst

['a', 'b', 'c', 'd', 'e', 4, 5, 6, 'rahul']

In [15]:
lst.insert(1,[1,2,3])

In [16]:
lst

['a', [1, 2, 3], 'b', 'c', 'd', 'e', 4, 5, 6, 'rahul']

In [17]:
lst[1:]

[[1, 2, 3], 'b', 'c', 'd', 'e', 4, 5, 6, 'rahul']

In [18]:
len(lst)

10

In [19]:
lst[1:90]

[[1, 2, 3], 'b', 'c', 'd', 'e', 4, 5, 6, 'rahul']

In [20]:
lst[1:5]

[[1, 2, 3], 'b', 'c', 'd']

In [21]:
lst=[1,2,3,4,5,6]

In [22]:
lst.extend([8,9])

In [23]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [24]:
sum(lst)

38

In [25]:
print(lst.pop(0))

1

In [26]:
lst

[2, 3, 4, 5, 6, 8, 9]

In [27]:
lst.insert(0,1)

In [28]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [29]:
lst.insert(0,1)

In [30]:
lst.count(1)

2

In [31]:
lst.index(1,0,4)

0

In [32]:
print(lst[0]*5)

5

In [33]:
print(lst[4]*6)

24

In [34]:
lst

[1, 1, 2, 3, 4, 5, 6, 8, 9]

In [35]:
lst*2

[1, 1, 2, 3, 4, 5, 6, 8, 9, 1, 1, 2, 3, 4, 5, 6, 8, 9]

# Sets:

In [36]:
newset=set()

In [37]:
newset={1,2,3,4,5,5}

In [38]:
newset

{1, 2, 3, 4, 5}

In [39]:
print(newset{0})

SyntaxError: invalid syntax (<ipython-input-39-44ae0c09bd00>, line 1)

In [ ]:
print(newset(0))

In [ ]:
print(newset)

In [ ]:
newset(0)

In [ ]:
newset.add('rahul')

In [ ]:
newset

In [ ]:
newset1={6,7,8,9,}

In [ ]:
newset1

In [ ]:
newset.difference(newset1)

In [ ]:
newset1.add(6)

In [ ]:
newset.difference(newset1)

In [ ]:
newset

In [ ]:
newset.add(6)

In [ ]:
newset.difference(newset1)

In [ ]:
newset

In [ ]:
newset

In [ ]:
newset.intersection(newset1)

# Dictionaries

A Dictionary is collection which is inordered, changed and indexed. In Python, Dictionaries are written with curly brackets and they have keys and values.

In [ ]:
dic={}

In [ ]:
type(dic)

In [ ]:
dic1={"guy1":"Rahul", "guy2":"Renegade", "guy3":"Mullaguru"}

In [ ]:
dic1

In [ ]:
for x in dic1.keys():
    print(x)

In [ ]:
for x in dic1.values():
    print(x)

In [ ]:
for x in dic1.items():
    print(x)

In [ ]:
dic1["guy4"]="Kiran"

In [ ]:
dic1

In [ ]:
dic1["guy4"]="Kiran123"
dic1

## Nested Dictionary

In [ ]:
car1={"Name":"Tesla"}
car2={"Name":"Porsche"}
car3={"Name":"Audi"}

In [ ]:
favcars={"1":car1, "2":car2, "3":car3}

In [ ]:
favcars

In [ ]:
favcars["1"]

In [ ]:
favcars["3"]["Name"]

# Tuples

In [ ]:
tuple1=tuple()

In [ ]:
type(tuple1)

In [ ]:
tuple1=(1,2,"Rahul",4,"Renegade")

In [ ]:
tuple1[0]=1

In [ ]:
tuple1=(6,7,"Mullaguru",5,"Rahul")

In [ ]:
tuple1

In [ ]:
tuple1.count(6)

In [ ]:
tuple1.index("Rahul")

# NUMPY

Numpy is genaral-purpose array-processing language. It provides high perfomance multi-dimensional array object, and tools for working with these arrays. It is a fundamental package for sci-fi computing with python.

In [ ]:
import numpy as np

In [ ]:
list1=[1,2,3,4,5]

In [ ]:
array1=np.array(list1)

In [ ]:
array1

In [ ]:
array1.shape

In [ ]:
list2=[2,3,4,5,6]
list3=[3,4,5,6,8]

In [ ]:
array1=np.array([list1,list2,list3])

In [ ]:
array1

In [ ]:
array1.shape

In [ ]:
array1.reshape(5,3)

In [ ]:
array1.shape

In [ ]:
array2=np.array([1,2,3,4,5,6,7,8,9])

In [ ]:
array2[3]

In [ ]:
array1

In [ ]:
array1[:,:]

In [ ]:
array1[0:2,0:2]

In [ ]:
array1[:,0:3]

In [ ]:
array1[1:,1:]

In [ ]:
array1[1:3,2:4]

In [ ]:
array1=np.arange(0,10,step=2)

In [ ]:
array1

In [ ]:
array1=np.linspace(1,10,num=10)

In [ ]:
array1

In [ ]:
array1[3:]=100# Broadcasting

In [ ]:
array1

In [ ]:
array3=array1.copy() # copy fucntion

In [ ]:
array3[3:]=500

In [ ]:
print(array1)
print(array3)

In [ ]:
val=2
array1<val

In [ ]:
array1[array1<val]

In [ ]:
np.ones((2,5),dtype=int)

In [ ]:
np.random.rand(2,5) #Randomm Distribution

In [ ]:
array4=np.random.rand(4,2)

In [ ]:
array4

In [ ]:
array4=np.random.rand(4,4)

In [ ]:
array4

In [ ]:
np.random.randint(0,100,24).reshape(6,4)

In [ ]:
np.random.random_sample(12)

# PANDAS

Agenda:
- Data Frames
- Data Series 
- Operations in Pandas
- Reading CSV files

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dtafrm=pd.DataFrame(np.arange(0,20).reshape(4,5), index=["Row1","Row2","Row3","Row4"], columns=["col1", "col2", "col3", "col4", "col5"])

In [ ]:
dtafrm.head()

In [ ]:
dtafrm.to_csv("sampledf.csv")

In [ ]:
dtafrm

In [ ]:
dtafrm.loc["Row1"]

In [ ]:
type(dtafrm.loc["Row1"])

In [ ]:
dtafrm.iloc[0:2,3]  #.iloc[rows,columns]

In [ ]:
dtafrm.iloc[0:2,0:2]

In [ ]:
type(dtafrm.iloc[0:4,2:1])

In [ ]:
dtafrm.iloc[0:2,0:2].values #Data Series or Frames into arrays

In [ ]:
dtafrm.iloc[0:2,0:2].values.shape

In [ ]:
dtafrm["col2"].value_counts()

In [ ]:
dtafrm.isnull().sum()

In [ ]:
dtafrm["col1"].unique()

In [ ]:
df=pd.read_csv("sampledf.csv", sep=',')

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.describe()  # returns only integer valued features(column names)

In [ ]:
df[df["col1"]>10] #returns the values of col1 greater than 10.

In [ ]:
df[df["col2"]>10]

In [ ]:
df

In [ ]:
df.to_csv("sampledf.csv", sep=';')

In [ ]:
df

In [ ]:
dtafrm

In [ ]:
df

In [ ]:
dtafrm

In [ ]:
df=pd.read_csv("sampledf.csv", sep=";")
df

In [ ]:
df.head()

In [ ]:
df["col1"].value_counts() #gets the unique category counts

## CSV

In [ ]:
from io import StringIO,BytesIO

In [ ]:
data=("col1,col2,col3,col4\n"
      "x,y,z,t\n"
      "a,b,c,d")

In [ ]:
df1=pd.read_csv(StringIO(data),dtype=object)
df1

In [ ]:
df2=pd.read_csv(StringIO(data),usecols=["col1","col3"])

In [ ]:
df2

In [ ]:
df1["col1"][0]

In [ ]:
df3=pd.read_csv(StringIO(data),dtype={'col1':object, 'col2':object, 'col3':object})
df3

In [ ]:
df3['col1'][1]

In [ ]:
df3.dtypes

In [ ]:
data1=('a,b,c\n'
          '4,apple,bat,\n'
          '8,orange,cow,')

In [ ]:
pd.read_csv(StringIO(data1))

In [ ]:
pd.read_csv(StringIO(data1),index_col=1)

In [ ]:
pd.read_csv(StringIO(data1),index_col=False)

In [ ]:
pd.read_csv(StringIO(data1),usecols=['a','b'],index_col=False)

In [ ]:
data2=('a,b\n'
       '"hello, \\"Bob\\", nice to see you",5')

In [ ]:
pd.read_csv(StringIO(data2), escapechar='\\')

In [ ]:
#URL to csv
df4=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                 sep='\t')
df4

## Read Json to CSV

In [ ]:
data3 = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
df5=pd.read_json(data3)

In [ ]:
df6=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)
df6.head()

In [ ]:
df6.to_csv("wine.csv")
df6

In [ ]:
df6.to_json()

In [ ]:
df5

In [ ]:
df5.to_json()

In [ ]:
df5.to_json(orient="records")

In [ ]:
df6.to_json(orient="records")

## Reading HTML Content 

- Reading tables from the webistes(HTML)

In [ ]:
pip install lxml

In [ ]:
pip install html5lib

In [ ]:
pip install BeautifulSoup4

In [ ]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'
df7=pd.read_html(url)
df7[0]

In [ ]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'
df8=pd.read_html(url_mcc,match='Country', header=0)
df8[0]

## Reading EXCEL Content

In [ ]:
pip install xlrd

In [ ]:
df9=pd.read_excel('sampledf.xls') #give the file name or path between ''.

## Pickling
- All pandas objects are equipped with to_pickle methods which use Pythonâ€™s cPickle module to save data structures to disk using the pickle format.

In [ ]:
df10=pd.read_excel("sampledf.xls",index_col=0)
df10

In [ ]:
df10.to_pickle('sampledf(pickeld)')

In [ ]:
df11=pd.read_pickle('sampledf(pickeld)')
df11.head(10) #End of Pandas

# MATPLOTLIB Tutorial

Matplotlib is a plotting library for Python programming language and its numerical mathematical extension NumPy. It provides and object oriented API for embedding plots into applications using general purpose GUI toolkits like Tkinter, wxPython, Qt or GTK+.

Some of the major pros of Matplotlib are:
- Generally easy to get started for simple plots.
- Support for custom labels and texts.
- Great control of every element in a figure.
- High-quality output in many formats.
- Very customizable in general.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import numpy as np

In [ ]:
x=np.arange(0,10)
y=np.arange(11,21)

In [ ]:
plt.scatter(x,y,c='g')
plt.xlabel("xaxis")
plt.ylabel("yaxis")
plt.title("sample for graph for tutorial")

In [ ]:
y=x*x
plt.plot(x,y,'r*--',linestyle='dashed', linewidth=2, markersize=12)
plt.xlabel("xaxis")
plt.ylabel("yaxis")
plt.title("sample graph for plot tutorial")

In [ ]:
plt.subplot(2,2,1)
plt.plot(x,y,'r')
plt.subplot(2,2,2)
plt.plot(x,y,'g')
plt.subplot(2,2,3)
plt.plot(x,y,'b')
plt.subplot(2,2,4)
plt.plot(x,y,'g--')

In [ ]:
x=np.arange(0,4*np.pi,0.1)
y=np.sin(x)
plt.title("sine wave form")
plt.plot(x,y)

In [ ]:
x=np.arange(0,4*np.pi,0.1)
y_sin=np.sin(x)
y_cos=np.cos(x)
plt.subplot(2,1,1)
plt.plot(x,y_sin,'ro')
plt.title("sine demo")
plt.subplot(2,1,2)
plt.plot(x,y_cos,'g--')
plt.title("cosine demo")

In [ ]:
#BOX PLOT 
x=[9,10,12,14]
y=[4,6,16,18]

x1=[8,11,13,15]
y2=[5,7,16,19]
plt.bar(x,y,align='center')
plt.bar(x1,y2, color='g')

In [ ]:
#HISTOGRAMS
a=np.array([22,87,5,43,56,73,55,54,11,20,51,5,79,31,27])
plt.hist(a, bins=20)
plt.title("histogram")

## Box Plot Using MATPLOTLIB

In [ ]:
data = [np.random.normal(0,std,20) for std in range(1, 4)]

plt.boxplot(data,vert=True,patch_artist=True) #patch artist is for the boxfill and vert is for the vertical representation of the boxes.

## PieChart using MATPLOTLIB

In [ ]:
labels1= 'Rahul', 'Kiran', 'Tony', 'Stark'
explode=(0.1, 0, 0, 0)
data1 = [60,20,30,40]
colors = ('Red', 'Blue', 'Green', 'Gold')
plt.pie(data1,explode=explode, labels=labels1, autopct='%1.1f%%', shadow=True, colors=colors); # ';' is used to remove the extra output

# SEABORN (one of the imp.libraries) #

## Distribution Plots 

- Distplot 
- Jointplot (Note: If there are two variables or two features)(2D Plot)
- Pairplot (Note: If there are more that two variable or features, they are seperated into pairs)(3D Plot)

Note: Univariate is one feature and Bivariate is two or more features

#Practise problems on IRIS Dataset

In [ ]:
import seaborn as sns

In [ ]:
df=sns.load_dataset("tips")
df.head()

## Correlation with Heatmap
- Correaltion is the inter-realtion between the features in the dataset. 
- A correlation heatmap uses colored cells, typically in a monochromatic scale, to show a 2D correaltion matrix bet' two discreet dimensions or event types. It is very importatant in feature selection.

In [ ]:
df.dtypes

In [ ]:
df.corr()

In [ ]:
sns.heatmap(df.corr())

## Jointplot

A JointPlot allows to study the realtion bet the two features (independent and dependent features). The central chart displays their correlation. Representation is usually a Scatterplot, a Hexbinplot, a 2D Histogram or a 2D Density Plot.

### Univariate Analysis

In [ ]:
sns.jointplot(x='tip',y='total_bill',data=df,kind='hex')

In [ ]:
sns.jointplot(x='tip',y='total_bill',data=df,kind='reg')

## Pairplot
- A Pairplot (also known as "Scatterplot") plot a pairwise relationships in a dataset. The pairplot function creates a grid of Axes such that each variable in data will by shared in the y-axis across a single row and in the x-axis across a single column.

In [ ]:
sns.pairplot(df)

In [ ]:
sns.pairplot(df,hue='smoker')

## Distplot
- Distplot helps us to check the distribution of the columns feature.

In [ ]:
sns.distplot(df['tip'], kde=True, bins=10)
#KDE standsfor "Kernel Density Distribution 
# KDE is a non-parametric way to estimate the probability density function of a random variable.

In [ ]:
sns.distplot(df['total_bill'], kde=False, bins=10)

## Categorical Plots
Seaborn also helps us in doint the analysis on Categorical Data Points. These are some of the methods use:
- boxplot
- voilinplot
- countplot
- barplot

In [ ]:
#Countplot
sns.countplot(x='smoker',data=df)

In [ ]:
sns.countplot(x='sex', data=df)

In [ ]:
#Barplot
sns.barplot(x="total_bill", y="smoker", data=df)

#### #Boxplot
A box and whisker plot (sometimes called as a boxplot) is a graph that presents info from a five-number summary.

In [ ]:
sns.boxplot(x='tip',y='sex',data=df) #should contin atleast one numercial feature

In [ ]:
sns.boxplot(y='tip',x='smoker',data=df, hue='sex')

### Voilinplot
- Helps us to see the distribution of data in the terms of both kernal density estimation(KDE) and box plot.

In [ ]:
sns.violinplot(y='tip',x='smoker',data=df, hue='sex')

## IRIS DATASET

In [ ]:
iri=sns.load_dataset("iris")

In [ ]:
iri.head()

## Numerical Plots (Iris Dataset)

In [ ]:
iri.corr()

In [ ]:
sns.heatmap(iri.corr())  #Correaltion with Heatmap

In [ ]:
iri.dtypes

In [ ]:
iri.info

In [ ]:
sns.jointplot(x='sepal_length',y='sepal_width',data=iri) #numerical values

In [ ]:
sns.distplot(iri['sepal_length'],kde=False,bins=20)

In [ ]:
sns.distplot(iri['petal_width'],kde=True,bins=20) #numerical values

In [ ]:
sns.pairplot(iri, hue='species')

## Categorical Plots (Iris Dataset)

In [ ]:
iri.info

In [ ]:
sns.barplot(x="species",y="sepal_length", data=iri)

In [ ]:
sns.boxplot(x="sepal_length", y="species", data=iri, palette="rainbow")

In [ ]:
sns.violinplot(x="sepal_length", y="species",data=iri, palette="rainbow")

In [ ]:
sns.countplot(x="sepal_width",data=iri)

## FUNCTIONS 
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.
- positional and keyword arguments in Funtions.

In [ ]:
num=24

if num%2==0:
    print("its an even number")
else:
    print("its an odd number")

In [ ]:
def even_odd(num):
    if num%2==0:
        print("its an even number")
    else:
        print("its an odd number")

In [ ]:
even_odd(24)

In [ ]:
def hworld():   #diff bet' "Print" and "Reuturn"
    print("hello world")
val=hworld()
print(val)

In [ ]:
def hworld1():  #diff bet' "Print" and "Reuturn"
    return "hello world"
val=hworld1()
print(val)

In [ ]:
def addnumber(num1,num2):   #diff bet' "Print" and "Reuturn"
    return(num1+num2)

In [ ]:
val=addnumber(5,6)   #diff bet' "Print" and "Reuturn"

In [ ]:
val   #diff bet' "Print" and "Reuturn"

In [ ]:
def hello(name,age=29):     #This function contains both positional('name') and keyword('age=29') arguments.
    print("my name is {} and age is {}".format(name,age))

In [ ]:
hello('Rahul')

Note:
  - Another way of passing the arguments is using args(can take any no of postional arguments while calling the fucntion)
    and kwargs(can take any no of keyword arguments while calling the function).

In [ ]:
def tut(*args,**kwargs):
    print(args)
    print(kwargs)

In [ ]:
tut("Rahul","Mullaguru", Age=29, Dob=1999)

In [ ]:
lst=('Rahul', 'Mullaguru')
kw_dic={'Age': 29, 'Dob': 1999}

In [ ]:
tut(lst,kw_dic)   #to avoid taking the whole thing as a postional argument "*" and "**" have to be given

In [ ]:
tut(*lst,**kw_dic) #to avoid taking the whole thing as a postional argument "*" and "**" have to be given

In [ ]:
lst1=[1,2,3,4,5,6,7,8]

In [ ]:
def evenoddsum(lst):
    evnsum=0
    oddsum=0
    for i in lst:
        if i%2==0:

            
            evnsum=evnsum+i
        else:
            oddsum=oddsum+i
    return evnsum,oddsum

In [ ]:
Levenoddsum(lst1)

## LAMBDA Function
- This is another syntax to create a function without a name without a name and the fastest way

In [ ]:
addition=lambda a,b:a+b     #def addition(a,b):
                            #    return a+b

In [ ]:

addition(2,3)

In [ ]:
even=lambda num:num%2==0     # def even(num):
                             #  if num%2==0:
                                 # return true

In [ ]:
even(32)

In [ ]:
add=lambda x,y,z:x+y+z

In [ ]:
add(24,32,54)

## MAP AND FILTER FUNCTIONS

In [ ]:
def even_or_odd(num):   #Without using map
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "the number {} is odd".format(num)

In [ ]:
even_or_odd(65)

In [ ]:
map(even_or_odd,lst) # "0x6945640" is the location or map of the data.

In [ ]:
# Using map fucntions 
lst=[1,2,3,4,5,6,7,8,9]
list(map(even_or_odd,lst))

In [ ]:
def even(num):   #Without using filter
    if num%2==0:
        return True

In [ ]:
lst=[1,2,3,4,5,6,7,8,9] # using filter 
list(filter(even, lst))

In [ ]:
# map vs filter 
lst=[1,2,3,4,5,6,7,8,9]

In [ ]:
list(filter(even, lst)) # map vs filter

In [ ]:
list(map(even, lst))  # map vs filter

## LiST COMPREHENSION
- List Comprehensions provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more (for or if) clauses. The expressions can be anything, meaning you can put in all kinds of objects in lists.

In [ ]:
lst1=[]
def list_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [ ]:
lst=[1,2,3,4] # This is using without list comprehension.
list_square(lst)

In [ ]:
lst=[4,6,7,8]  # This is using list comprehension.
lst1=[i*i for i in lst if i%2==0] #syntax for this is [(expression)  (for loop or if)]
print(lst1)

## String Formatting

In [ ]:
def welcome(fname,lname):
    print("{} {} please welcome".format(fname,lname))

In [ ]:
welcome('Rahul', 'Mullaguru')

In [ ]:
def welcome1(fname1,lname1):
    print("{0} {1} please welcome".format(lname1,fname1)

In [ ]:
welcome1('Rahul','Mullaguru')

# List iterables vs Iterators
- An iterable is any Python object capable of returning its members one at a time, permitting it to be iterated over in a for-loop.
- An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

In [ ]:
# list is iterable
lst=[1,2,3,4,5,6]
for i in lst:
    print(i)

In [ ]:
lst1=iter(lst)  # iter function is used to convert the iterable into iterator.

In [ ]:
lst1  # It is showing that lst is converted and it is at this location.

In [ ]:
next(lst1) # 'next()' function is the only way to retrieve the values from the intialized list and get stored in the iterator.

Note: 
- If there are so much values in the list to be created, then convert it into a iterator and use the next function. In this way, we can save the space and time for execution.

In [ ]:
for i in lst1:    #we can use for loop for the iterators.
    print(i)

# PYFOREST - Lazy import of Python data science libraries
- Pyforest-Lazy imports all popular  Python Data Science libraries so that they are always there when you need them. If u dont use a library, it wont be imported. When you re done with your script, you can export the Python code for the import statements.

In [ ]:
pip install Pyforest

In [ ]:
df=pd.read_csv("titanic_train.csv")

In [ ]:
active_imports()

# OOPS CONCEPT in Python

In [40]:
class Car:
    def __init__ (self, window, door, enginetype):
        self.windows=window
        self.doors=door
        self.enginetype=enginetype
    def enginetype1(self):
        print("This is a {} car".format(self.enginetype))

In [41]:
car1=Car(4,5,'petrol')

In [42]:
print(car1.enginetype)

petrol

In [44]:
car1.enginetype1()

This is a petrol car

## Classes and Instances

In [47]:
class Employee:
    def __init__(self,fname,lname,pay):
        self.fname=fname
        self.lname=lname
        self.pay=pay
        self.email=fname+ '.' +lname+ '@company.com'
    def fullname(self):
        return "full name of the employee is {} {}".format(self.fname,self.lname)

In [80]:
emp1=Employee('Rahul','Mullaguru',50000)
emp2=Employee('Rahul1','Mullaguru1',60000)

In [81]:
print(emp1.email)
print(emp2.email)
print(emp1.fullname())
print(emp2.fullname())

Rahul.Mullaguru@company.com
Rahul1.Mullaguru1@company.com
full name of the employee is Rahul Mullaguru
full name of the employee is Rahul1 Mullaguru1

In [82]:
# For understanding why 'Self' is given as arugument:
# emp1.fullname(self)          #here self must be given, coz the first argument in the instance is itself so "SELF" is must.
# Employee.fullname(emp1)
# To Understand SELF more clearly,refere the link given below:
# https://www.youtube.com/watch?v=ZDa-Z5JzLYM&list=PL-osiE80TeTsqhIuOqKhwlXsIBIdSeYtc&index=2&t=0s

## Class Variables

In [96]:
class Employee1:
    raise_amount=1.04  # class variable
    no_of_employees=0  # class variable
    def __init__(self,fname,lname,pay):
        self.fname=fname
        self.lname=lname
        self.pay=pay
        self.email=fname+ '.' +lname+ '@company.com'
        Employee1.no_of_employees += 1
      
    def fullname(self):
        return "full name of the employee is {} {}".format(self.fname,self.lname)
    def apply_raise(self):
        self.pay=int(self.pay*self.raise_amount)
    @classmethod   # class method 
    def set_raise_amount(cls,amount):
        cls.raise_amount=amount

In [97]:
emp3=Employee1('Rahul','Mullaguru',50000)
emp4=Employee1('Rahul1','Mullaguru1',60000)

In [98]:
print(emp3.pay)
emp3.apply_raise()
print(emp3.pay)

50000
52000

In [99]:
print(emp3.__dict__) # as we can see, instance doesnt ccontain any raise_amount variable.

{'fname': 'Rahul', 'lname': 'Mullaguru', 'pay': 52000, 'email': 'Rahul.Mullaguru@company.com'}

In [100]:
print(emp3.raise_amount)  #instance is taking the default value of raise_amount from the class i.e class variable.
print(Employee1.raise_amount)
print(emp4.raise_amount)

1.04
1.04
1.04

In [101]:
Employee1.raise_amount=1.05

In [102]:
print(emp3.raise_amount)
print(Employee1.raise_amount)
print(emp4.raise_amount)

1.05
1.05
1.05

In [103]:
emp3.raise_amount=1.06
print(emp3.raise_amount)
print(Employee1.raise_amount)
print(emp4.raise_amount)

1.06
1.05
1.05

In [104]:
print(Employee1.no_of_employees)

2

# Class Methods and Static Methods

In [205]:
class Employee1:
    raise_amount=1.04  # class variable
    no_of_employees=0  # class variable
    def __init__(self,fname,lname,pay):
        self.fname=fname
        self.lname=lname
        self.pay=pay
        self.email=fname+ '.' +lname+ '@company.com'
        Employee1.no_of_employees += 1
      
    def fullname(self):
        return "full name of the employee is {} {}".format(self.fname,self.lname)
    def apply_raise(self):
        self.pay=int(self.pay*self.raise_amount)
    @classmethod   # class method 
    def set_raise_amount(cls,amount):
        cls.raise_amount=amount
    @classmethod     #using class method as alternative constructor
    def from_e_string(cls,e_string):
        fname, lname, pay=e_string.split('-')
        return cls(fname, lname, pay)
    @staticmethod    
    def work_day(day):    #static methods dont need any self arguments
        if day.weekday()==0 or day.weekday() == 6:
            return "entered day is weekday".format(day)
        else:
            return "Workday"

In [194]:
emp3=Employee1('Rahul','Mullaguru',50000)
emp4=Employee1('Rahul1','Mullaguru1',60000)

In [188]:
Employee1.set_raise_amount(1.05)

In [189]:
print(emp3.raise_amount)
print(Employee1.raise_amount)
print(emp4.raise_amount)

1.05
1.05
1.05

In [190]:
# alternate method by taking values with hyphens
emp_strng1='Rahul-Mullaguru-2000'  #using class method as alternative constructor
emp_strng2='Rahul1-Mullaguru1-2000' #using class method as alternative constructor
emp_strng3='Rahul2-Mullaguru2-2000' #using class method as alternative constructor
emp5=Employee1.from_e_string(emp_strng1) #using class method as alternative constructor
emp6=Employee1.from_e_string(emp_strng2) #using class method as alternative constructor
emp7=Employee1.from_e_string(emp_strng3) #using class method as alternative constructor
print(emp5.email)
print(emp6.email)
print(emp7.email)
print(emp5.pay)
print(emp6.pay)
print(emp7.pay)

Rahul.Mullaguru@company.com
Rahul1.Mullaguru1@company.com
Rahul2.Mullaguru2@company.com
2000
2000
2000

In [191]:
print(Employee1.no_of_employees)

5

In [206]:
import datetime
mydate=datetime.date(2016, 7 ,10)
print(Employee1.work_day(mydate))

entered day is weekday

## Inheritance - Creating subclasses

In [190]:
class Employee2:
    raise_amount=1.04  # class variable
    no_of_employees=0  # class variable
    def __init__(self,fname,lname,pay):
        self.fname=fname
        self.lname=lname
        self.pay=pay
        self.email=fname+ '.' +lname+ '@company.com'
        Employee2.no_of_employees += 1
      
    def fullname(self):
        return "{} {}".format(self.fname,self.lname)
    def apply_raise(self):
        self.pay=int(self.pay*self.raise_amount)
class Developer(Employee2):      # Creating a subclass 'Developer' i.e inheriting the parent class Employee2.
    raise_amount=1.06
    def __init__(self,fname,lname,pay,prog_lang):
        super().__init__(fname,lname,pay) # Super() funtion lets the parent class to handle its variables.
        self.prog_lang=prog_lang
class manager(Employee2):    
    noofemp=0
    def __init__(self,fname,lname,pay,employees=None):
        super().__init__(fname,lname,pay) # Super() funtion lets the parent class to handle its variables.
        self.noofemp += 1 
        if employees is None:
            self.employees=[]  #if not provided an argument equal it to list otherwise equal it to the provided argument.
        else:
            self.employees=employees
    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)
            self.noofemp += 1 
    def rem_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)
            self.noofemp-=1        
    def print_emps(self):
        for emp in self.employees:
            print('->',emp.fullname())
        print('no of employees under this manager is {}'.format(self.noofemp))

In [191]:
dev1=Developer('Rahul','Mullaguru',50000,'Python')
dev2=Developer('Rahul1','Mullaguru1',60000,'Java')

In [192]:
print(dev1.email)
print(dev2.email)

Rahul.Mullaguru@company.com
Rahul1.Mullaguru1@company.com

In [193]:
print(dev1.pay)
dev1.apply_raise()
print(dev1.pay)

50000
53000

In [194]:
print(dev1.prog_lang)
print(dev2.prog_lang)

Python
Java

In [195]:
man1=manager('stark','Mull',50000,[dev1])
man2=manager('stark1','Mull',60000,[dev2])

In [196]:
man1.print_emps()
man2.print_emps()

-> Rahul Mullaguru
no of employees under this manager is 1
-> Rahul1 Mullaguru1
no of employees under this manager is 1

In [197]:
man1.add_emp(dev2)
man1.print_emps()
man2.add_emp(dev1)
man2.print_emps()
man1.rem_emp(dev2)
man1.print_emps()
man2.rem_emp(dev1)
man2.print_emps()

-> Rahul Mullaguru
-> Rahul1 Mullaguru1
no of employees under this manager is 2
-> Rahul1 Mullaguru1
-> Rahul Mullaguru
no of employees under this manager is 2
-> Rahul Mullaguru
no of employees under this manager is 1
-> Rahul1 Mullaguru1
no of employees under this manager is 1

In [199]:
print(man1.email)
print(man2.email)

stark.Mull@company.com
stark1.Mull@company.com

In [203]:
print(isinstance(man1,manager))

True

In [205]:
print(issubclass(manager,Employee2))

True

## Special (Magic/Dunder) methods

In [311]:
class Employee3:
    raise_amount=1.04  # class variable
    no_of_employees=0  # class variable
    def __init__(self,fname,lname,pay):   #"__**__" these doible underscores on each side are called "DUNDERS" Ex:"dunder init" 
        self.fname=fname
        self.lname=lname
        self.pay=pay
        self.email=fname+ '.' +lname+ '@company.com'
        Employee3.no_of_employees += 1
    def fullname(self):
        return "{} {}".format(self.fname,self.lname)
    def apply_raise(self):
        self.pay=int(self.pay*self.raise_amount)
    def __repr__(self):
        return "Employee3('{}' '{}' '{}')".format(self.fname,self.lname,self.pay)
    def __str__(self):
        return "{} - {}".format(self.fullname(),self.email)
    def __add__(self,other):    
        return "{}".format(self.pay+other.pay)
    # this is for whenver i directly add the two employee variable Ex: emp8+emp9 it should add the salaries.
    def __len__(self):
        print(self.fname+self.lname)
        return len(self.fname+self.lname)

In [312]:
emp8=Employee3('Rahul','Mullaguru',50000)
emp9=Employee3('Rahul1','Mullaguru1',60000)
print(emp8)

Rahul Mullaguru - Rahul.Mullaguru@company.com

In [313]:
print(repr(emp8))
print(str(emp8))
print(emp8.__repr__())
print(emp8.__str__())

Employee3('Rahul' 'Mullaguru' '50000')
Rahul Mullaguru - Rahul.Mullaguru@company.com
Employee3('Rahul' 'Mullaguru' '50000')
Rahul Mullaguru - Rahul.Mullaguru@company.com

In [314]:
print(1+2)    # In this, it calls the dunder add fucntion automatically by giving the integers as arguments.
print(int.__add__(1,2))   # Like this !!!
print('a'+'b')  # In this, it calls the dunder add fucntion automatically by giving the integers as arguments.
print(str.__add__('a','b'))  # Like this !!!

3
3
ab
ab

In [315]:
print(emp8+emp9) # without giving the inbuild add method in the class with the parameters it shows error.
print(emp8.__add__(emp9)) # Another way of writing the above expression

110000
110000

In [316]:
print(emp8.__len__())

RahulMullaguru
14

Note:
To refer all the inbuilt methods in Python(OOPS) go to this link:
- "https://docs.python.org/3/reference/datamodel.html#special-method-names"

# Property Decorators
- Getters 
- Setters
- Deleters

In [47]:
class Employee4:
    def __init__(self,fname,lname):   #"__**__" these doible underscores on each side are called "DUNDERS" Ex:"dunder init" 
        self.fname=fname
        self.lname=lname
    @property   # A Decorater is used here to convert this method as a property.
    def email(self):
        return "{}.{}@email.com".format(self.fname,self.lname)
    @property    #getter
    def fullname(self):  
        return "{} {}".format(self.fname,self.lname)
    @fullname.setter    #setter
    def fullname(self, name):
        fname, lname=name.split(' ')
        self.fname=fname
        self.lname=lname
    @fullname.deleter    # deleter here is used to clear the values of fname and lname
    def fullname(self):
        self.fname=None
        self.lname=None
        print("Names, Deleted!")

In [48]:
emp10=Employee4('Tony','Stark')
emp10.fname='Steve'

In [49]:
print(emp10.fname)
print(emp10.email) #as email is not changing everytime we change the fname or lname.so we have to add a method called email.
# Parenthesis is not required because property decorater is used above that method. So it considers the method as a property.

Steve
Steve.Stark@email.com

In [50]:
print(emp10.fullname) #fullname method is taking the crct fname everytime we run the method.
# Parenthesis is not required because property decorater is used above that method. So it considers the method as a property.

Steve Stark

In [51]:
 emp10.fullname ='Rahul Renegade' # to solve this problem, we have add a setter with the same property name.

In [52]:
print(emp10.fullname)
print(emp10.email)

Rahul Renegade
Rahul.Renegade@email.com

In [54]:
del emp10.fullname  # To delete the  values of a property.

Names, Deleted!

# EXPLORATORY DATA ANALYSIS:
 ## - UNIVARIATE 
     - 
 ## - BIVARIATE
 ## - MULTIVARIATE